In [2]:
import os
import pandas as pd
import numpy as np
import pandas_datareader
from pandas_datareader import data as pdr
from datetime import datetime, timedelta
import yfinance as yf

def stockData(sList, stDate, endDate):
    """Take list of stocks and pull data for that stock and create technical indicator variables
    sList requires list of stocks, dates should be entered in format 'YYYY-MM-DD' """
   
    data = []
    for element in sList:
        try:
            temp = pdr.get_data_yahoo(element, start = stDate, end = endDate)
            #add an indentifier
            temp['Symbol'] = element
            temp['Close'] = temp['Close']
        except: 
            #If stock symbol cannot be found make it $1
            print (element)
            temp['Symbol'] = element
            temp['Close'] = 1
        else:
        #add data to list 
            data.append(temp)
        #convert to dataframe    
        df = pd.concat(data)
        #drop rows for which we will not have all data points calculated
        df = df.dropna()
        #dates above what user entered
        df = df.loc[stDate : endDate]
        #order and limit columns to those needed
        df = df.loc[:, ['Symbol', 'Close']]
        df['Day'] = pd.to_datetime(df.index)

    
    return(df)

In [3]:
#set working directory 
os.chdir("/Users/bkrei/Desktop/Programming/Portfolio-Challenge2")

In [4]:
#Read in individual portfolios
portfolios = pd.read_csv("https://raw.githubusercontent.com/bkreis84/Portfolio-Challenge2/master/Portfolios.csv")

In [5]:
#List of all ticker symbols
symbols = portfolios['Symbol'].drop_duplicates()
symbols.head(300)

0      BRK-B
1         BX
2        RXL
3        ROM
4       AMZN
5       REGN
6        NEW
7        WMT
8       AAPL
9       GRUB
10      DKMR
11      VXRT
12      DELL
13        BA
14       LOW
15      UBER
16       HDS
17      MSFT
18      EXEL
19     BGSAX
20     TWCIX
21     TRBCX
25     GOOGL
26      ATVI
27     BKRRF
28      BLFE
29      CHTR
30      ADBE
31      QCOM
32      PENN
       ...
225      CCL
226     ARKQ
231     TWTR
232     NFLX
234     CRWD
237     VIRT
238      SNY
239      NVS
242      RDN
243       SQ
244     PYPL
245      SNE
247      LUV
249     NCLH
254     INTC
256       MA
257     QDEL
258      BIG
259      APT
260      LPX
261       DQ
267     SHOP
269     REGI
274       GM
275     ORLY
276      EWH
279     ORCL
280      PKI
281     EPAM
282      CWH
Name: Symbol, Length: 181, dtype: object

In [6]:
symbols.to_csv("symbols.csv", header = False)
#symbols = pd.read_csv("https://raw.githubusercontent.com/bkreis84/Portfolio-Challenge2/master/symbols.csv", header=None)

In [ ]:
#Pass the ticker list to the function, print invalid stock symbols and create dataframe with intial prices
beg_prices = stockData(symbols, '2020-09-18', '2020-09-18')
beg_prices.shape

In [92]:
beg_prices

In [88]:
#Pull SNAP which for some reason is the only stock with an issue.
er = stockData(['DKMR', 'BLFE', 'DMY', 'PGE', 'OSTX', 'PETM', 'VF','GXI','GMG'], '2019-09-06', '2019-09-06')

BLFE
DMY
PGE
OSTX
PETM
VF
GXI
GMG

In [100]:
#Combine the main and SNAP dataframes
frames = [beg_prices, er]
beg_prices = pd.concat(frames, sort=True).drop_duplicates(subset='Symbol')

In [101]:
beg_prices.to_csv("beg_prices.csv")

In [102]:
beg_prices = pd.read_csv("https://raw.githubusercontent.com/bkreis84/Portfolio-Challenge2/master/beg_prices.csv")
combined = pd.merge(portfolios, beg_prices, how = 'left', on = "Symbol", validate="many_to_one")

In [103]:
combined.head(5)

,Name,Symbol,% of Portfolio,Cost Basis,Unnamed: 0,Close,Date,Day
0,Estelle Genest,BRK-B,0.03,6000,0.0,218.210007,2020-09-18,2020-09-18
1,Estelle Genest,BX,0.05,10000,1.0,52.700001,2020-09-18,2020-09-18
2,Estelle Genest,RXL,0.30,60000,2.0,129.130005,2020-09-18,2020-09-18
3,Estelle Genest,ROM,0.10,20000,3.0,51.900002,2020-09-18,2020-09-18
4,Estelle Genest,AMZN,0.10,20000,4.0,2954.909912,2020-09-18,2020-09-18

In [104]:
#Calc # of shares purchased
combined["# of Shares"] = combined["Cost Basis"]/ combined["Close"]
#Convert names to proper case
#combined['Name'] = list(map(lambda x: x.title(), combined['Name']))
#combined.head()

In [105]:
#combined.to_csv("initial portfolios.csv")

In [106]:
initportfolios = pd.read_csv("https://raw.githubusercontent.com/bkreis84/Portfolio-Challenge2/master/initial%20portfolios.csv")

# Simple Comparison (Initial vs Current Value) START HERE TO UPDATE

In [114]:
#Select date to compare to initial prices

cur_prices = stockData(symbols, '2020-09-28', '2020-09-28')

BLFE
DMY
PGE
OSTX
PETM
VF
GXI
GMG

In [124]:
#Pull SNAP which for some reason is the only stock with an issue.
er2 = stockData(['DKMR', 'BLFE', 'DMY', 'PGE', 'OSTX', 'PETM', 'VF','GXI','GMG'], '2020-09-28', '2020-09-28')

BLFE
DMY
PGE
OSTX
PETM
VF
GXI
GMG

In [125]:
#Combine the main and SNAP dataframes
frames2 = [cur_prices, er2]
cur_prices = pd.concat(frames2)

In [126]:
cur_prices.sort_values("Symbol", inplace = True)
cur_prices.drop_duplicates(subset = "Symbol", inplace = True)

In [127]:
cur_prices.to_csv("cur_prices.csv")

In [128]:
cur_prices= pd.read_csv("https://raw.githubusercontent.com/bkreis84/Portfolio-Challenge2/master/cur_prices.csv")
cur_prices.head()

         Date Symbol       Close         Day
0  2020-09-28   AAPL  114.959999  2020-09-28
1  2020-09-28   ADBE  488.510010  2020-09-28
2  2020-09-28    AFL   36.330002  2020-09-28
3  2020-09-28    ALB   84.839996  2020-09-28
4  2020-09-28    AMD   79.480003  2020-09-28

In [129]:
detail = pd.merge(initportfolios, cur_prices, how = 'left', on = "Symbol", validate="many_to_one")

In [130]:
detail.head()

,Unnamed: 0,Name,Symbol,% of Portfolio,Cost Basis,Unnamed: 0.1,Close_x,Date_x,Day_x,# of Shares,Date_y,Close_y,Day_y
0,0,Estelle Genest,BRK-B,0.03,6000,0.0,218.210007,2020-09-18,2020-09-18,27.496448,2020-09-28,213.539993,2020-09-28
1,1,Estelle Genest,BX,0.05,10000,1.0,52.700001,2020-09-18,2020-09-18,189.753318,2020-09-28,52.660000,2020-09-28
2,2,Estelle Genest,RXL,0.30,60000,2.0,129.130005,2020-09-18,2020-09-18,464.648012,2020-09-28,126.059998,2020-09-28
3,3,Estelle Genest,ROM,0.10,20000,3.0,51.900002,2020-09-18,2020-09-18,385.356443,2020-09-28,56.160000,2020-09-28
4,4,Estelle Genest,AMZN,0.10,20000,4.0,2954.909912,2020-09-18,2020-09-18,6.768396,2020-09-28,3174.050049,2020-09-28

In [131]:
detail['Current_Value'] = detail['Close_y'] * detail['# of Shares']
detail['Perc_Return'] = detail['Close_y']/detail['Close_x']  -1
detail.head(5)

,Unnamed: 0,Name,Symbol,% of Portfolio,Cost Basis,Unnamed: 0.1,Close_x,Date_x,Day_x,# of Shares,Date_y,Close_y,Day_y,Current_Value,Perc_Return
0,0,Estelle Genest,BRK-B,0.03,6000,0.0,218.210007,2020-09-18,2020-09-18,27.496448,2020-09-28,213.539993,2020-09-28,5871.591221,-0.021401
1,1,Estelle Genest,BX,0.05,10000,1.0,52.700001,2020-09-18,2020-09-18,189.753318,2020-09-28,52.660000,2020-09-28,9992.409694,-0.000759
2,2,Estelle Genest,RXL,0.30,60000,2.0,129.130005,2020-09-18,2020-09-18,464.648012,2020-09-28,126.059998,2020-09-28,58573.527201,-0.023775
3,3,Estelle Genest,ROM,0.10,20000,3.0,51.900002,2020-09-18,2020-09-18,385.356443,2020-09-28,56.160000,2020-09-28,21641.617802,0.082081
4,4,Estelle Genest,AMZN,0.10,20000,4.0,2954.909912,2020-09-18,2020-09-18,6.768396,2020-09-28,3174.050049,2020-09-28,21483.227193,0.074161

In [132]:
detail.to_csv("pt1-detail.csv")

### Individual Performance

In [133]:
ranking = detail.groupby("Name")['Cost Basis', 'Current_Value'].sum().reset_index().sort_values("Current_Value", ascending=False)

In [134]:
ranking['Perc_Return'] = ranking['Current_Value']/ranking['Cost Basis'] -1
ranking['Rank'] = ranking['Perc_Return'].rank(ascending=False)
ranking.head(25)

                  Name  Cost Basis  Current_Value  Perc_Return  Rank
16      Joseph Lindner      200000  218531.957952     0.092660   1.0
33       Schuyler Bull      200000  212212.280648     0.061061   2.0
21     Lindsey Pelerin      200000  211753.637491     0.058768   3.0
38        Trudy Seeber      200000  211327.269418     0.056636   4.0
19           Kwun Chan      200000  208747.145805     0.043736   5.0
18      Kristen Kiefer      200000  208426.146340     0.042131   6.0
11    Giuseppe Tedesco      200000  207221.331456     0.036107   7.0
30         Peter Odell      200000  206434.309125     0.032172   8.0
35  Sherry A Rosekrans      200000  206221.366575     0.031107   9.0
28        Nori Lansing      200000  206011.984312     0.030060  10.0
7        Danish Sharpe      200000  205751.539956     0.028758  11.0
32      Rebecca Curtis      200000  205259.754924     0.026299  12.0
25     Melissa Stamper      200000  205140.325765     0.025702  13.0
15            Joe Geis      200000  205078.469450     0.025392  14.0
10      Estelle Genest      200000  204589.278239     0.022946  15.0
5        Claire Moylan      200000  202354.981316     0.011775  16.0
0     Alexandra Sautin      200000  201543.450499     0.007717  17.0
22     Luke Scarchilli      200000  200375.374782     0.001877  18.0
17     Kelly Nicholson      200000  200059.395521     0.000297  19.0
34    Sherlock Bacchus      200000  199400.619306    -0.002997  20.0
20     Linday Sheridan      200000  198545.401750    -0.007273  21.0
27    Nicholas Capullo      200000  197711.088087    -0.011445  22.0
6      Dan Cancelliere      200000  195431.031888    -0.022845  23.0
24   Melissa Lomaestro      200000  195220.061253    -0.023900  24.0
37      Teresa Purcell      200000  195096.029102    -0.024520  25.0

In [135]:
ranking.to_csv("individual rankings.csv")

### Best Individual Stock Returns

In [136]:
best_stocks = detail.drop_duplicates(['Symbol']).reset_index().sort_values(['Perc_Return'], ascending=False)

In [137]:
best_stocks = best_stocks.loc[:, ['Symbol', 'Perc_Return']]
best_stocks.head(10)

    Symbol  Perc_Return
141   FROG     0.332973
37    CVNA     0.323097
71    EXAS     0.286950
173     DQ     0.166143
125   FVRR     0.155797
103   DUST     0.114962
77      ZM     0.111526
35    PINS     0.111171
162     SQ     0.108613
91    ETSY     0.106846

In [138]:
best_stocks.to_csv("stock ranking.csv")

# Trend

In [ ]:
#Pull Only necessary columns
combined = combined.loc[:, ['Name', 'Symbol', '# of Shares']]

In [ ]:
Price_History = stockData(stocks['Ticker'], '2019-08-01', '2019-09-06')

In [ ]:
historical = pd.merge(combined, Price_History, how = 'outer', on = "Symbol", validate="many_to_many")

In [ ]:
historical['Value'] = historical['# of Shares'] * historical['Close']
historical.head()

In [ ]:
trend_data = historical.groupby(['Name', 'Day'])['Value'].sum().reset_index().sort_values(['Name', 'Day'])

In [ ]:
trend_data.head()

In [1]:
import chart_studio.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode